*{
    margin: 0;
    padding: 0;
}

#header{
    text-align: center;
    height: 43em;
}

#with-secondary-menu{
    height: 40em;
}

div#secondary-menu{
    color: silver;

    /*position: absolute;*/
    /*bottom: 1em;*/
    /*left: 18em;*/
}



tr td, tr th{

    background-color: #fff;
    /*box-shadow: 0 2px 2px rgba(0,0,0,0.4);*/
}
div.views-field{
    /*text-align: center;*/
}

div.views-field.views-field-title a{
    text-align: center;
    /*color: #8eba4e;*/
    /*background: #3c3c3c;*/

}
#secondary-menu-links{
    /*font-size:1.5em;*/
}

#secondary-menu-links li a{
    color: silver;
}

#main-menu-links li a.active,
#main-menu-links li.active-trail a {
    background: #3c3c3c;
    color: #8eba4e;

}

.views_slideshow_singleframe_slide {
    left:50% !important;
    margin-left:-465px;/**Half of the total desired width of the div**/
    text-align:center;
    width:930px !important;/**The total desired width of the div**/
}


@media screen and (max-width: 840px) {
    #logo {
        display: none;
    }

}

@media screen and (max-width: 580px) {

    .views_slideshow_singleframe_slide{
        display: none;
    }
}